<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets>
		<target name="logfile" xsi:type="File" fileName="${basedir}\logs\${date:format=yyyyMMdd}.log" layout="${longdate}|${level}|${message}|${exception}" autoFlush="true"/>
	</targets>
	<rules>
		<logger name="System.*" finalMinLevel="Info" />
		<logger name="Microsoft.*" finalMinLevel="Info" />
		<logger name="Microsoft.Hosting.Lifetime*" finalMinLevel="Info" />
		<logger name="B3Challenge*" minlevel="Trace" writeTo="logfile" />

	</rules>
</nlog>