.filter-description
{
    width: 48%;
    margin:5px;
}

.filter-date
{
    width: 20%;
    margin:5px;
}

.filter-status
{
    width: 25%;
    margin:5px;
}

.filter-button
{
    margin:5px;
    width:5%;
}

// .filter {
//     width: 32%;
//     margin-right: 5px;
//     margin-left: 5px;
//   }