.filter-description
{
    width: 48%;
    margin:5px;
}

.filter-date
{
    width: 20%;
    margin:5px;
}

.filter-status
{
    width: 30%;
    margin:5px;
}

.div-buttons
{
    text-align: right;
    padding-right:20px;
}

.filter-button{
    margin-right: 5px;
    margin-left: 5px;
  }