.new-edit
{
    padding:20px;
    width:500px;
}

.field
{
    width: 100%;
    margin-bottom: 5px;
}

.field-date
{
    width: 100%;
    margin-bottom: 20px;
}

.mat-card-actions{
    margin:0 auto;
    margin:0 auto;    
}

.action-button{
    margin:5px;
}